[submodule "pureline"]
	path = pureline
	url = git@github.com:chris-marsh/pureline.git
[submodule ".vim/pack/plugins/start/fern"]
	path = .vim/pack/plugins/start/fern
	url = git@github.com:lambdalisue/fern.vim.git
[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/pack/themes/opt/onedark"]
	path = .vim/pack/themes/opt/onedark
	url = git@github.com:joshdick/onedark.vim.git
