# Define your own custom user config (name, email, and other configs).
[include]
	path = ~/.config/git/user.config
[core]
	hooksPath = ~/.dotfiles/git-hooks
	editor = vim
[alias]
	reference = "!reference(){ ref=\"$(git show -s --date=short --pretty='format:%h (%s, %ad)' $@)\"; echo \"$ref\" | xclip -sel clip; echo \"Reference copied to clipboard: $ref\"; };reference"
	ref-info = "branch --format='%(align:40,left)%(refname:short)%(end) %(HEAD) %(align:80,left)%(contents:subject)%(end)'"
[fetch]
	prune = true
[advice]
	detachedHead = false
[init]
	defaultBranch = main
