[submodule ".vim/pack/plugins/opt/ctrlp"]
	path = .vim/pack/plugins/opt/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/opt/vim-themis"]
	path = .vim/pack/plugins/opt/vim-themis
	url = git@github.com:thinca/vim-themis.git
[submodule ".vim/pack/plugins/opt/fern-renderer-nf"]
	path = .vim/pack/plugins/opt/fern-renderer-nf
	url = git@github.com:brandon1024/fern-renderer-nf.vim.git
[submodule ".vim/pack/plugins/opt/vim-http"]
	path = .vim/pack/plugins/opt/vim-http
	url = git@github.com:nicwest/vim-http.git
[submodule ".vim/pack/themes/opt/nord"]
	path = .vim/pack/themes/opt/nord
	url = git@github.com:nordtheme/vim.git
[submodule ".vim/pack/plugins/opt/vim-signature"]
	path = .vim/pack/plugins/opt/vim-signature
	url = git@github.com:kshenoy/vim-signature.git
[submodule ".vim/pack/plugins/opt/vimwiki"]
	path = .vim/pack/plugins/opt/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/opt/vim-fern"]
	path = .vim/pack/plugins/opt/vim-fern
	url = git@github.com:lambdalisue/vim-fern.git
[submodule ".vim/pack/plugins/opt/vim-nerdfont"]
	path = .vim/pack/plugins/opt/vim-nerdfont
	url = git@github.com:lambdalisue/vim-nerdfont.git
[submodule ".vim/pack/plugins/opt/vim-go"]
	path = .vim/pack/plugins/opt/vim-go
	url = git@github.com:fatih/vim-go.git
