# Define your own custom user config (name, email, and other configs).
[include]
	path = ~/.config/git/user.config
[core]
	hooksPath = ~/.dotfiles/git-hooks
	editor = vim
[alias]
	reference = "!reference(){ git show -s --format=reference $@ | tee /dev/stderr | xclip -sel clip; };reference"
	ref-info = "branch --format='%(align:40,left)%(refname:short)%(end) %(HEAD) %(align:80,left)%(contents:subject)%(end)'"
[fetch]
	prune = true
[advice]
	detachedHead = false
[init]
	defaultBranch = main
